<% title "Home" %>

<div class="container_4 popular">
    <div class="innertitle popular-title">
        <p><i class="fa fa-book fa-padding"></i>Popular In Your College</p>
    </div>
    <div class="no-touch">
      <ul class="grid cs-style-3">
        <% @popular.each do |book| %>
          <%= render :partial => "shared/book_tile", :locals => {:book => book}%>
        <% end %>
      </ul>
    </div>
</div>

<div class="container_4 latest">
    <div class="innertitle latest-title">
        <p><i class="fa fa-book fa-padding"></i>Latest Books</p>
    </div>
    <div class="no-touch">
      <ul class="grid cs-style-3">
        <% @latest.each do |book| %>
          <%= render :partial => "shared/book_tile", :locals => {:book => book}%>
        <% end %>
      </ul>
    </div>
</div>
