<h2> Hello there! </h2>
<h1> <%= @buyer_name %> has asked to buy your book! <h1>
<h3> He has sent you a message:</h3>
<%= @message %>
<h3> Please respond back. His email address is </h3>
<%= @buyer_email %>
