<%
meta site: "TheCollegeStore",
     keywords: ["Edit Profile"]
%>

<% title "Edit Profile" %>
<h2>Vendor Edit Profile</h2>

<%= form_for(@city_vendor) do |f| %>
    
    <%= render 'fields', f: f %>

		<%= f.submit "Update Profile" %> 
  </div>
</div>
<% end %>