<div class="container_4">
    <div class="innertitle">
        <p>My Orders</p>
    </div>
    <div class="no-touch">
      <ul class="grid cs-style-3">
        <% @ordered.each do |book| %>
          <%= render :partial => "shared/book_tile", :locals => {:book => book}%>
        <% end %>
      </ul>
    </div>
</div>