<p>My Profile</p>
<form>
	<table>
		<tr>
			<input type="text" name="first_name" />
		</tr>
		<tr>
			<input type="text" name="last_name" />
		</tr>
		<tr>
			<input type="email" name="email" />
		</tr>
		<tr>
			<input type="mobile" name="mobile" />
		</tr>

	</table>
</form>
</table>