<div class="smart-wrap">
    <div class="smart-forms smart-container wrap-3">
      
      <div class="form-header header-black">
          <h4><i class="fa fa-edit"></i>Edit Profile</h4>
      </div>
      
      <div class="form-body theme-black">
        <%= form_tag({controller: "/registrations", action:"update_mobile" }, :class =>'smart-form') do %>

          <div class="section">
            <label for="mobile" class="field prepend-icon">
              <%= text_field_tag :mobile, nil, placeholder: 'Mobile', :class => 'gui-input entered_mobile_class', :id=> "edit_mobile" %>
            </label>
          </div>

          <%= text_field_tag :verification_code, nil, placeholder: 'Enter Verification', :class => 'form-control verification_code_class', :id=> "verification_code", :style => "display:none;" %>

          <div class="section">
              <%= hidden_field_tag :user_id, auth_user_id %>
          </div> 
          <div class="section">
            <button type="button" class="btn btn-primary verify_auth_mob_class" onclick="verify_auth_mobile()" id="verify_auth_mob"> Update </button>
          </div><!-- end section -->
        <% end %>
        <hr>
      </div>
    </div>
</div>

<script type="text/javascript">
  function verify_auth_mobile(){
    mobile_no = document.getElementById("edit_mobile").value;
    post("/send_verification_sms", {mobile: mobile_no, button: "verify_auth_mob_class"});
  }
</script>
