 <div class="navbar-collapse collapse">
  <div class="nav navbar-nav navbar-right">
          <a href="<%= checkout_path %>"><span class="btn btn-md btn-success"><i class="fa fa-sign-in" style="background_color: #000;"></i> 
          Checkout</span> </a>
  </div>
</div>