<div id="sel_coupon_wrapper">
	<% if not session[:coupons].nil? %>
		<% session[:coupons].each do |coupon|%>
		<div id="cart_coupon_<%=coupon%>" class="each_coupon">
			<div class="coupon_thumb">
			<div id="remove-coupon"><%= link_to "x", remove_coupon_path(coupon), :remote => true %></div>
			<%= image_tag('coupon_thumb.jpg', size:'30x30') %>
			</div>
		</div>
		<% end %>
	<% else %>
		<p>No coupon selected</p>
	<% end %>
</div>

<div class="navbar-collapse collapse">
	<div class="nav navbar-nav navbar-right">
	        <a href="<%= checkout_path %>"><span class="btn btn-md btn-success"><i class="fa fa-sign-in" style="background_color: #000;"></i> 
	        Checkout</span> </a>
	</div>
</div>
