<div id="sel_coupon_wrapper">
	<% if not session[:coupons].nil? %>
		<% session[:coupons].each do |coupon|%>
		<div id="cart_coupon_<%=coupon%>" class="each_coupon">
			<div class="coupon_thumb">
			<div id="remove-coupon"><%= link_to "x", remove_coupon_path(coupon), :remote => true %></div>
			<%= image_tag(Coupon.find(coupon).distributor.image_name, size:'70x60') %>
			</div>
		</div>
		<% end %>
	<% else %>
		<p>No coupon selected</p>
	<% end %>
</div>
