<%
meta site: "TheCollegeStore",
     description: "Add a coupon on buying books",
     keywords: ["Coupons"]
%>

<% title "Select Coupons" %>

<div id="all_coupons_wrapper">
  <%= render :partial => "shared/all_coupons", :locals => {:coupons => @coupons, :value_remaining => session[:value_remaining]} %>
</div>
