<script type="text/javascript">
  search_bar = document.getElementById('main_search_bar');
  search_bar.parentNode.removeChild(search_bar);
  top_bar = document.getElementById('search-bar-header');
  var newdiv = document.createElement('div');
  newdiv.innerHTML = '<%= escape_javascript(render :partial => "coupons/coupons" )%>'
  newdiv.id = "top-coupon-bar";
  top_bar.insertBefore(newdiv, top_bar.firstChild);
</script>

<div id="all_coupons_wrapper">
  <%= render :partial => "shared/all_coupons", :locals => {:coupons => @coupons, :value_remaining => session[:value_remaining]} %>
</div>
