<div class="coupon-container">
    <div class= "coupan_head">
      Select your Coupon
    </div>
    <% coupons.each do |coupon| %>
      <div class="coupon-box" style="position:relative">
        <div class="image-box">
          <div class="img-brand">
          <%= image_tag(coupon.distributor.image_name, :class => "set-image")%>
          </div>
        </div>
        <div class="pickbtn">
          <%= link_to "Pick", add_coupon_path(coupon.id), :remote => true, :class => "myButton" %>
        </div>
        <div class="coupon-perks">
              Get free food and drinks!
        </div>
        <div class="coupon-terms">
              Valid against a min. bill of Rs. 100
        </div>
        <div class="links">
          <div class="inline-popups" style="margin-top: 10px;">
            <!-- <li> --><a href="#coupon-deatils-popup", style="margin-left: 10px; font-size: 12px" data-effect="mfp-3d-unfold">See details</a><!-- </li> -->
          </div>
        </div>
        <div style="border-top: 1px solid #cccccc; margin-top: 5px;">
        <div style="float:left">
  	      <div class="coupon-save">
  	          SAVE
  	      </div>
  	      <div class="save-money" style="color:black">
  	          Rs. 50
  	      </div>
      	</div>
        <div class="expiry-date">
            Expiry <span style="color:black"> 12 Sep 2014 </span>
        </div>
        </div>
        <% if coupon.out_of_stock || (not coupon.applicable(value_remaining)) %>
          <%= value_remaining%>
          <div style="position:absolute;top:0;left:0;width:100%;height:100%;background-color:white; opacity:0.5;"></div>
        <%end%>
      </div>
    <% end %>
</div>

<div id="coupon-deatils-popup" class="click-popup mfp-with-anim mfp-hide">
    <div class="info-content">
        <div class="info-heading">
              McDonald's,Gujrat 
        </div> 
          <hr/>
        <div class="left-part">
          <div class="coupon-details">
            Get free food and drinks
          </div>
          <div class="cond-box">
            <div class="coupon-cond">
                    Valid against a min bill of Rs 100
            </div>
          </div>
          <div class="avaliable-at">
              Avaliable at :-
          </div>
          <div class="address-bg">
            <div class="store-address">
                Ground floor, Himalaya Mall, Drive-In Rd, Nilmani Society, Gurukul
                Ahmedabad, Gujarat
                079 3298 4844
            </div>
          </div>
          <div class="terms-and-cond">
            <div class="terms-head">
                Terms & conditions
            </div>
            <ul class="terms-content">
              <li class="term-points">
                Rs.50 displayed in the e-coupon is an indicative value. 
              </li>
              <li class="term-points">
                Customer has to handover the printed copy of the complete e-coupon mailer at the time of billing at McDonald™ store for availing the offer. Customer will not be entitled to avail the offer if the complete printout is not produced. 
              </li>
              <li class="term-points">
                Get a complimentary McAloo Tikki™ Burger and Ice Tea (Regular) on spends of Rs.100 or above. Taxes extra.  
              </li>   
              <li class="term-points">
                Get a complimentary McAloo Tikki™ Burger and Ice Tea (Regular) on spends of Rs.100 or above. Taxes extra.  
              </li>                      
            </ul>
          </div>
        </div>
        <div class="right-part">
          <%= image_tag("mcdman.jpg", :alt => "McDonald", :class => "image-attr")%>
        </div>
    </div>
</div>
