<!DOCTYPE html>
<html>
    <body>
        <footer style='margin-bottom:0px;'>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 footer-left">
                        <ul class="list-inline">
                            <li>
                                <a href="/books">Books</a>
                            </li>
                            <li>
                                <a href="/about_us">About Us</a>
                            </li>
                            <li>
                                <a href="/our_team">The Team</a>
                            </li>
                            <li>
                                <a href="/contact_us">Contact Us</a>
                            </li>
                            <li>
                                <a href="/privacy_policy">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="/disclaimer">Disclaimer</a>
                            </li>
                            <li>
                                <a href="/terms">Terms and Conditions</a>
                            </li>
                        </ul>
                        <br />
                        <ul class="list-inline">
                            <li>
                              <a href="https://www.facebook.com/thecollegestore.in">
                                <i class="fa fa-facebook-square fa-3x social-icon"></i>
                              </a>
                            </li>
                            <li>
                              <a href="https://www.twitter.com">
                                <i class="fa fa-twitter-square fa-3x social-icon"></i>
                              </a>
                            </li>
                            <li>
                              <a href="https://www.google.co.in/?gfe_rd=cr&ei=T02bU925MaTO8geB-oDgDw&gws_rd=ssl">
                                <i class="fa fa-google-plus-square fa-3x social-icon"></i>
                              </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 footer-right">
                        <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fthecollegestore.in%3Fref%3Daymt_homepage_panel&amp;width&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:258px;" allowTransparency="true"></iframe>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12 footer-below">
                        <p>&COPY;2014 Bookly Web</p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
