<div id="person_category_form">
<%= link_to "Student", controller: "application", action: "person_category", type: "student", :remote => true%>
<%= link_to "City vendor", controller: "application", action: "person_category", type: "city_vendor"%>
</div>