<div class='panel'>
  <div class='panel-heading'>
     <h3><%= post["post_title"] %></h3>
  </div>
  <section class='panel-body'>
  <p class="lead">
    <% user_id = Blog.where(:post_id => post["post_id"]).first.user_id %>
    <% user = User.where(:id => user_id).first %>
    by <%= link_to("#{user.first_name} #{user.last_name}", "/profiles/show/#{user.first_name}-#{user.last_name}/#{user_id}") %>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Posted on <%= post["post_date"].to_time().strftime('%B %d, %Y at %I:%M %p %Z') %></p>
    <hr>
    <p><%= post["post_content"].html_safe %></p>
    <hr>      
  </section>
</div>

