<form action="/search">
    <div class="input-group">
		<input type="text" name="query" placeholder="Search" class="autocomplete form-control" autofocus="autofocus" style="border-radius:2px" required></input>
		<div class="input-group-btn">
			<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
		</div>
	</div>
</form>

<script type="text/javascript">	
	var availableTags = <%= raw BookGroup.all.map(&:title).to_json %>;
	$( ".autocomplete" ).autocomplete({
			source: availableTags,
			select: function(event, ui) {
				$(this).val(ui.item.value);
				$(this).parents("form").submit();
			}
	});
</script>