<div class="col-lg-9 col-md-9 col-sm-9" id="search-result">
  <div class='panel panel-default'>
    <div class='panel-heading'>
       <p><b><%=query%></b></p>
    </div>
    <section class='panel-body'>
      <div class='row' id='results'>
        <% if results.empty? %>
          <p>No results found.</p>
        <% else %>
          <% results.each do |book| %>
            <%= render :partial => "shared/book_tile", :locals => {:book => book}%>
          <% end %>
        <% end %>
      </div>
    </section>
  </div>
</div>
