<form class="form-wrapper cf" style="width=auto;" action="/search">
	<input type="text" name="query" placeholder="Search" class="autocomplete" style="height:40px; border-radius: 4px 0px 0px 4px;" required></input>
	<button style="float:left;"type="submit"><i class="fa fa-search fa-padding"></i></button>
</form>
<script type="text/javascript">	
	var availableTags = <%= raw BookGroup.all.map(&:title).to_json %>;
	$( ".autocomplete" ).autocomplete({
			source: availableTags,
			select: function(event, ui) {
				$(this).val(ui.item.value);
				$(this).parents("form").submit();
			}
	});
</script>