<form action="/search">
  <input type="search" name="query" placeholder="Search by ISBN/Title/Author" style= "width: 200px;" id="autocomplete"><br>
  <input type="submit" style="display: none;">
</form>

<script type="text/javascript">	
	var availableTags = <%= raw book_names.to_json %>;
	$( "#autocomplete" ).autocomplete({
			source: availableTags
		});
</script>
