<form class="navbar-form" style="width: auto;" action="/search">
    <div class="input-group" style="width: 40%;">
    	<div>
			<input type="text" name="query" placeholder="Search" class="autocomplete form-control" style="border-radius: 4px 0px 0px 4px; width: 70%;" autofocus="autofocus" required></input>
			<button style="float:left;height:33px;width:40px;" class="input-group-addon" type="submit"><i class="fa fa-search fa-padding"></i></button>
		</div>
	</div>
</form>

<script type="text/javascript">	
	var availableTags = <%= raw BookGroup.all.map(&:title).to_json %>;
	$( ".autocomplete" ).autocomplete({
			source: availableTags,
			select: function(event, ui) {
				$(this).val(ui.item.value);
				$(this).parents("form").submit();
			}
	});
</script>