	<form id="main_search_bar" class="form-wrapper cf" style="width=auto;" action="/search">
  		<input type="text" name="query" placeholder="Search by ISBN/Title/Author" id="autocomplete" style="height:40px; border-radius: 4px 0px 0px 4px; padding: 15px;" required>
  		<button style="float:left;"type="submit">Search<i class="fa fa-search fa-padding"></i></button>
	</form>
<script type="text/javascript">	
	var availableTags = <%= raw book_names.to_json %>;
	$( "#autocomplete" ).autocomplete({
			source: availableTags
		});
</script>