<%
meta site: "TheCollegeStore",
     keywords: ["Home page", "List of books"]
%>

<% title "Home" %>

<!--page wrapper-->
<div id="page" class="container center-block">
  <div class='row'>

    <%= render :partial => "/shared/left_side_filter" %>

    <div id="booklist">
      <div class="col-md-9">
        <div class='panel panel-default'>

            <div class='panel-heading'>
               <p><i class="fa fa-book fa-padding"></i> <b>Popular In Your College</b></p>
            </div>

            <div class='panel-body'>
              <div class='row' id='results'>
                <% @popular.each do |book| %>
                    <%= render :partial => "shared/book_tile", :locals => {:book => book}%>
                <% end %>
              </div>
            </div>
        </div>

      <div id="latest">
        <div class='panel panel-default'>
          <div class='panel-heading'>
              <p><i class="fa fa-book fa-padding"></i> <b>Latest Books</b></p>
          </div>
          <section class='panel-body'>
            <div class='row' id='results'>
              <% @latest.each do |book| %>
                  <%= render :partial => "shared/book_tile", :locals => {:book => book}%>
              <% end %>
            </div>
          </section>
        </div>
      </div>
      
      </div>
    </div>
  </div>
</div>
<!--page wrapper-->