<!--page wrapper-->
<div id="page" class="container center-block">
  <div class='row'>

    <%= render :partial => "/shared/left_side_filter" %>

    <div id="booklist">
      <%= render :partial => "/shared/search_results", :locals => {:query => @query, :results => @results}%>
    </div>

  </div>
</div>
<!--page wrapper-->
<script>
	document.getElementById("filter_title").value = <%= raw @original_query.to_json%>;
</script>
