<h1> Hello Admin! </h2>
<h2> Someone has asked to add their college to our college list. <h1>
<h2> College name is: </h2> <h3><%= @college_name %><h3>
<h2> Their email address is:</h2><h3><%= @email %></h3>
