<%
meta site: "TheCollegeStore",
     keywords: ["About us"]
%>

<% title "About Us" %>
<div class="container">
<center>
<h1>About Us</h1>
</center>
<div class="panel">
        <div class="panel-body" style="font-size:medium;">
    <p class="extra-page" style="color:black">

    	<center style="margin:20px 0"><iframe width="600" height="350" src="//www.youtube.com/embed/aUvYc0D08K4?rel=0&theme=light&controls=0" frameborder="0" allowfullscreen></iframe>
    	</center>
<p>
The College Store is a platform as a service providing every student a right price of their book.

It connects the students who want to sell their used books and the students who want to buy 

the course books which matters to them most. The College Store saves the student from the 

arduous task of arranging for books at any point of their semester. Students won't have to roam 

around the hostels searching for the right book room to room neither knock at the bookstores 

and give away hefty amount of sums for the second hand books they buy and get meagre sum 

of money when they sell their used books to them.
</p>
<p>

But here comes The College Store to the rescue. It’s a non-conventional eCommerce platform, 

which plans to organize the currently unorganized used book sector of India. Because you 

already have to shell out so much on tuition fees, and other living expenses, so why to shell out 

so much on books when you can easily reuse the ones which are perfectly in good condition 

and used priorly by another you. And wait ! You can get back the amount you spent, next 

time when you put your book on sale on The College Store. So technically, you are not even 

spending anything on books. Great isn’t it !!
</p>
<p>
Besides all this, we won’t stop being awesome until some boulder hits our way. You know why? 

Because we have a special recommendation algorithm built especially for you. When you go on 

to sell your books, we will recommend you the price slabs in which your book has the maximum 

chances of getting sold rapidly. So that you always get the best price for your book. Ah! Don’t 

worry, you can <a href="http://thecollegestore.in/contact_us">thank us here</a>
</p>
<p>
With a vision to make our company a paragon of books purchase store that fits the pocket of 

every student, this is going to be the India’s first ever actual online “book store” with complete 

transparency and a freedom to purchase the best book at best price. 
</p>
<p>
There’s just one more thing about us. We assure that we’ll keep surpassing your expectations 

and we will always have something new after every few days to serve you which will leave 

you awww-struck. So wondering what’s going to be our next release? Well...keep wondering 

because it’s proven that patience always bears sweet fruit. And we have already planted seeds 

of a very sweet fruit. Just be patient !
</p>
</div>
</div>
</div>