<div class="">
    <div class="innertitle latest-title">
        <p><i class="fa fa-book fa-padding"></i>About Us</p>
    </div>
    
    <p class="extra-page" style="color:black">

    	<center style="margin:20px 0"><iframe width="600" height="350" src="//www.youtube.com/embed/aUvYc0D08K4?rel=0&theme=light&controls=0" frameborder="0" allowfullscreen></iframe></center>
<p class="extra-pages">
	The better a potter is in moulding his pottery on potter's wheel, the more the pottery will have a unique edge over others. We moulded ourselves to the requirements students felt a portal should have, exclusive just to them. We are just not limiting ourselves to selling used/new books online, because that’s what everyone is doing. 
</p>
<br>
<p class="extra-pages">
	Firstly, we plan to set an example of setting up a fair pricing standard for books, which does not loot student’s or their parent’s hard earned money, by giving ample amount of options of student sellers and respective city vendors selling books on our portal. It will not only give students n number of options to buy their books from but would also promote healthy competition among the sellers which would keep the prices under check. 
</p>
<br>
<p class="extra-pages">
	Secondly, we also list students who wish to sell their books and quote the price they deem fit for their book (we do provide suggestions pertaining to the probability of a book getting sold in what price range, so that his/her book gets sold off easier and faster). 
</p>
<br>
<p class="extra-pages">
	Thirdly, being students we know, how most of us are tight on our pockets but we still have to eat everyday, live everyday, we can’t stop enjoying, hanging out with friends just because of the unceasing price rises of every product and services in this gory world. So we decided to make students feel awesome when they use our services, our product by giving them discount coupons of places they “actually” go out to eat frequently (at local, national food chains), hangout, buy products they require, of places nearby to their college and of stores present everywhere. Those little little savings help in partying harder at some place, they have been longing since very long or buy things they couldn’t because of a hefty price tag which now is affordable because of coupon available at The College Store. 
</p>
<br>
<p class="extra-pages">
	This is how we are unique. Because we care for student fraternity and as and when they will feel, we are lagging somewhere or we should incorporate something more, we promise of not being egoistic but being fore-runner in incorporating their wishes. 
</p>
</p>
</div>