<%
meta site: "TheCollegeStore",
     keywords: ["Disclaimer"]
%>

<% title "Disclaimer" %>
<div class="">
    <div class="innertitle latest-title">
        <p><i class="fa fa-book fa-padding"></i>Disclaimer</p>
    </div>
    
    <p class="extra-page" style="color:black">This website, all the materials and products (including but not limited to software) and services, included on or otherwise made available to you through this site are provided on The College Store on “as is” and “as available” basis without any representation or warranties, express or implied except otherwise specified in writing. Without prejudice to the forgoing paragraph, The College Store does not warrant that:
    </p>
    <div class="extra-page">
		<ul class="extra-page">
			<li>This website will be constantly available, or available at all; or</li>

			<li>The information on this website is complete, true, accurate or non-misleading.</li>

			<li>The College Store will not be liable to you in any way or in relation to the contents of, or use of, or otherwise in connection with, The College Store website.</li>

			<li>The College Store does not warrant that this site; information, content, materials, product (including software) or services included on or otherwise made available to you through The College Store website; their servers; or electronic communication sent from The College Store are free of viruses or other harmful components.</li>

			<li>Nothing on The College Store constitutes, or is meant to constitute, advice of any kind.</li>

			<li>You will be required to enter a valid phone number while placing an order on The College Store. By registering your phone number with us, you consent to be contacted by The College Store via phone calls and / or SMS notifications, in case of any order or shipment or delivery related updates. The College Store will not use your personal information to initiate any promotional phone calls or SMS'.</li>
		</ul>
	</div>

	
    
</div>
