<%
meta site: "TheCollegeStore",
     keywords: ["Shipping"]
%>

<% title "Shipping" %>
<div class="container_4 latest">
    <div class="innertitle latest-title">
        <p><i class="fa fa-book fa-padding"></i>Shpping</p>
    </div>
    <div class="no-touch">
    <p>
		The mode of working of The College Store is going to be in such a way that a seller who wishes to sell his/her book, would make a sell request to the college store. College Store, upon reviewing and scrutinizing would fix the price of the book and would also intimate the seller about the same and then would list the book on its website. Now, a buyer who wishes to buy that particular book would make the full payment of the books to the college store and we would give all the details of the seller to the buyer like his/her address, phone number, suitable time to contact etc. NOTE THAT WE ARE NOT GOING TO SHIP THE BOOK FROM THE SELLER TO THE BUYER. Now the buyer has to collect the book from the seller. Now the seller would intimate us about the same and we would confirm this with the buyer. After full satisfaction of the buyer, we would release the payment to the seller. 
    </p>
    </div>
</div>
