<% title "Blog" %>

<div class="container">
	<%= button_to "Create New Post", {:action => 'new'} , :class => 'btn btn-lg btn-success' %>
    <div class="row">
        <div class="col-md-8">
            <h1 class="page-header">
                All Posts
            </h1>
		    <% @posts.each do |post| %>
		      <%= render :partial => "shared/post", :locals => {:post => post}%>
		    <% end %>
	    </div>
    </div>
</div>

