.coupon-container {
	background:white;
	width: 984px;
	max-height: 1500px;
	margin-top: 25px;
	border-radius: 5px;
	overflow: auto;
}

.coupan_head {
	font-size: 2.25em;
	margin-top: 0;
	padding-top: 15px;
	margin-left: 20px;
}

.coupon-box {
	height: 300px;
	width: 220px;
	padding-top: 10px;
	background-color: #eaedef;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 30px;
	float: left;
}

.image-box {
	height: 135px;
	width: 200px;
	margin-left: 10px;
	background:black;
}

.set-image {
	width: 200px;
	height: 135px;
	padding: 0;
}

.coupon-perks {	
font-size: 1.5em;
color: #000;
margin-top: 20px;
margin-left: 10px;
}

.coupon-terms {
	font-size: 0.8em;
	margin-top: 20px;
	margin-left: 10px;
}

.coupon-save {
	font-size: 1em;
	margin-top: 6px;
	margin-left: 2px;
}

.save-money {
	font-size: 1em;
	margin-left: 4px;
}

.expiry-date {
	margin-left: 116px;
	margin-top: 6px;
	font-size: 1em;
}

.pickbtn {
	margin-top: -13px;
	margin-left: 63px;
}

.myButton {
	/*-moz-box-shadow:inset 0px -3px 7px 0px #1abb9c;
	-webkit-box-shadow:inset 0px -3px 7px 0px #1abb9c;
	box-shadow:inset 0px -3px 7px 0px #1abb9c;*/
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1abb9c), color-stop(1, #1abb9c));
	background:-moz-linear-gradient(top, #1abb9c 5%, #1abb9c 100%);
	background:-webkit-linear-gradient(top, #1abb9c 5%, #1abb9c 100%);
	background:-o-linear-gradient(top, #1abb9c 5%, #1abb9c 100%);
	background:-ms-linear-gradient(top, #1abb9c 5%, #1abb9c 100%);
	background:linear-gradient(to bottom, #1abb9c 5%, #1abb9c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#42c3cc', endColorstr='#0688fa',GradientType=0);
	background-color:#1abb9c;
	border:1px solid #1abb9c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration:none;
	
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, white), color-stop(1, white));
	background:-moz-linear-gradient(top, white 5%, white 100%);
	background:-webkit-linear-gradient(top, white 5%, white 100%);
	background:-o-linear-gradient(top, white 5%, white 100%);
	background:-ms-linear-gradient(top, white 5%, white 100%);
	background:linear-gradient(to bottom, white 5%, white 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='white',GradientType=0);
	background-color:white;
	color:#1abb9c;
}

.myButton:active {
	position:relative;
	top:1px;
}
                

.know_more {
	font-size: 1.2em;
	margin-top: 15px;
	margin-left: 10px;
	width: 200px;
	border-bottom: 1px solid;
}