d

h5 {
    color: white;
}



.finalfooter{
padding-top: 1%;
margin-bottom: 2%;
background-color: #384047;
width: 977px;
height: 260px;
border-radius: 5px;
margin-left: 13px;
margin-top: 35px;
margin-left: 2;

}

.otherlinks {

	color: #999;
	font-size: 1.3em;
	float: left;
	background-color: #384047;
	width: 30%;
	margin-left: 30px;
}

.innertext{

	padding-left: 20%;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.heading {

	font-size: 1.5em;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	padding-bottom: 5%;
	padding-left: 15%;
}

.linkicons {
margin-top: 5%;
margin-left: 85%;

}

.linklist a{
  color: #999;
  text-decoration: none;
}

.linklist a:visited {
	text-decoration: none;
	color: inherit;
}

.linklist a:hover{
	color:white;
}
.linkicons img{
	width: 25px;
	height: 25px;
	margin-top: 46%;
}
.inline-floating{
	float:left;
	width: 20%;
	background-color: inherit;
}
.imageset{
	padding:2px;
	width: 15px;
	height: 15px;
}
.linkicons img.desaturate { 
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
filter: grayscale(100%);

}