.header-fixed{
    /* position: fixed; */
    width: 100%;0    
    z-index: 100;
    top: 4px;
    z-index: 100;
}

div#content-wrap {
    background: #E4E4E4;
    height: 58px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}


/*Logo*/




/*Search*/
.form-wrapper {
    width: 100%;
    padding: 0;
    border-radius: 10px;
 /*   position: relative;
top: -19px;
left: 400px;*/
position: relative;
}

.cf{
    zoom:1;
} 

.cf:before, .cf:after{
    content:"";
    display:table;
}

.form-wrapper input {
    width: 70%;
    height: 20px;
    float: left;    
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    border: 0;
    background: white;
    /* border-radius: 3px 0 0 3px; */
    font-size: 16px;      
    position: relative;
    margin: 0;
}

.form-wrapper input:focus {
    outline: 0;
    background: white;
    box-shadow: 0 0 5px rgba(49, 87, 236, 0.8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
 color: #999;
 font-weight: normal;
 font-style: italic;
}

.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
} 

.form-wrapper button {
    overflow: hidden;
    float: right;
    border: 0;
    position: relative;
    padding: 0;
    height: 40px;
    width: 20%;
    font: 15px "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background: rgb(53, 184, 173) !important;
    border-radius: 0 4px 4px 0;      
    margin: 0;
    cursor: pointer;
}   

.form-wrapper button:hover{     
    background: #E71F3F;
}   

.form-wrapper button:active,
.form-wrapper button:focus{   
    background: #1F40E7;
    outline: 0;   
}



.form-wrapper button:hover:before{
    border-right-color: #e54040;
}

.form-wrapper button:focus:before,
.form-wrapper button:active:before{
    border-right-color: #c42f2f;
}      

.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
} 


/*Right Side User Header*/
.user-bar-header{
    width: 30%;
    position: absolute;
    top: 10px;
    float: left;
    left: 70%;
    right: 0;
}

.user-bar-header ul{
	list-style-type: none;
    display: inline-flex;
}

/*Right Part - Login Register*/
ul.user-list li {
    padding: 0px 10px;
}

a.button.button-primary {
    background: rgb(48, 148, 139) !important;
    border-color: rgb(27, 165, 153);
    font-size: 17px;
    padding: 9px;
}

.username-header{
	color:white;
	font-size: 16px; color: rgb(23, 92, 56); font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: 500;
	text-decoration: underline;
}

span.select-college {
    font-size: 16px;
    color: rgb(23, 92, 56);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
}

#logo{
 
    margin-left: 20px;
    float: left;
    width: 15%; 
    height: 100px;
    background: url('logo.png') no-repeat;
    display: block;
    background-size: auto 100px;
}

nav {
 
    float: right;   
    padding-left: 20px;
    padding: right:20px;
 
    width: 75%;
}

 
#menu-icon {
 
    display: none;
    width: 40px;
    height: 40px; 
}
#menu-name{
    display: none;
}
 
a:hover#menu-icon {
 
    background-color: #444;
    border-radius: 4px 4px 0 0;
 
}
 
.nav-ul {
 
    list-style: none;
 
}
 
.nav-li {
 
    display: inline-block;
    float: left;
    padding: 5px;

}
 .searchbar{
    width: 40%;
}
.right-user{
    float: right;
}
.select-college{
    padding-top: 10px;
}
.current {
 
    color: #2262AD;
 
}
 
section {
 
    margin: 80px auto 40px;
    max-width: 980px;
    position: relative;
    padding: 20px
} 


/*MEDIA QUERY*/
@media only screen and (max-width : 640px) { /*If device width is higher than 640px use this css and if less than 640px use above */
 
    #logo{
        display: none;
    }

    #menu-icon{
        margin-top: 3px;
        display:inline-block;
        float: right;
 
    }
    .fa-menu-icon{
        font-size: 40px;
        float: right;
        padding-right: 5px;
        padding-top: 7px;
    }
    #menu-name{
        float: left;
display: inline-block;
margin-top: 5%;
font-size: 18px;
margin-left: 25%;
    }

    nav{
        width: auto;
    }
    nav ul, nav:active ul { 
 
        display: none;
        position: absolute;
        /* padding: 20px; */
        background: #fff;
        /* border: 5px solid #444; */
        /* right: 20px; */
        top: 0px;
        left: 0px;
        width: 90%;
        background-color: rgb(87, 82, 82);
        border-radius: 4px 0 4px 4px;
 
    }
 
    nav li {
 
        text-align: center;
        width: 100%;
        padding: 10px 0;
        margin: 0;
 
    }
 
    nav:hover ul {
 
        display: block;
 
    
        width: 100%;
}
.searchbar{
    width: 100%;
}
}
