.click-popup {
  position: relative;
  background: white;
  padding: 25px;
  width: auto;
  max-width: 650px;
  border-radius: 5px;
  margin: 0 auto;
}

.info-content {
  margin: auto;
  width: 620px;
  border-radius: 5px 5px 5px 5px;
  border-color: #111;
}

.info-content .info-heading {
	font-size : 2.25em;
	color: black;
}

.info-content .left-part {
	width: 375px;
	height: 380px;
	border-right: 1px solid;
	border-color: grey;
	float:left;
}

.info-content .coupon-details {
	margin-top: 0px;
	font-size: 1.8em;
	color: #555555;
}

.info-content .coupon-cond {
	margin-top: 15px;
	margin-left: 5px;
	width: 220px;
	font-size: 1.2em;
	color: #999999;
	text-transform: uppercase;
	border: 1px solid #cccccc;
}

/*.info-content .cond-box {
	width: 220px;
	max-width: 280px;
	height: 18px;
	background-color :#cccccc;
}*/

.info-content .avaliable-at {
	font-size: 1.8em;
	margin-top: 20px;
	width: 375px;
	border-top: 1px solid #cccccc;
	padding-top: 10px;
	color: #555555;
}

.info-content .store-address {
	font-size : 1.30em;
	width: 280px;
	color: #fff;
	margin-left: 5px;
	margin-top: 5px;
}

.info-content .address-bg {
	background-color:grey;
	width:280px;
}

.info-content .terms-head{
	border-top: 1px solid #cccccc;
	font-size:1.8em;
	padding-top: 10px;
	margin-top: 20px;
	color: #555555
}

.info-content .terms-content{
	width: 325px;
}

.info-content .term-points {
	font-size: 1.2em;
	margin-top: 10px;
	margin-left: 15px;
}

.info-content .image-attr {
	width: 200px;
	height: inherit;
	margin-left: 40px;
	margin-top: 0px;
}
