.cf:before, .cf:after{
    content:"";
    display:table;
}
 
.cf:after{
    clear:both;
}
 
.cf{
    zoom:1;
} 


/* Form wrapper styling */
.form-wrapper {
    width: 450px;
    padding: 0;
    border-radius: 10px;
 /*   position: relative;
top: -19px;
left: 400px;*/
top: 10px;
position: relative;
}
 
/* Form text input */
 
.form-wrapper input {
    width: 320px;
    height: 20px;
    padding: 10px 5px;
    float: left;    
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    border: 0;
    background: white;
    border-radius: 3px 0 0 3px;
    font-size: 16px;      
}
 
.form-wrapper input:focus {
    outline: 0;
    background: white;
    box-shadow: 0 0 5px rgba(49, 87, 236, 0.8) inset;
}
 
.form-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}
 
.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
 
.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
} 

.form-wrapper button {
    overflow: visible;
    float: right;
    border: 0;
    position: relative;
    padding: 0;
    height: 40px;
    width: 110px;
    font: bold 15px "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background: rgb(61, 155, 147) !important;
    border-radius: 0 4px 4px 0;      
    
    cursor: pointer;
}   
   
.form-wrapper button:hover{     
    background: #E71F3F;
}   
   
.form-wrapper button:active,
.form-wrapper button:focus{   
    background: #1F40E7;
    outline: 0;   
}


 
.form-wrapper button:hover:before{
    border-right-color: #e54040;
}
 
.form-wrapper button:focus:before,
.form-wrapper button:active:before{
        border-right-color: #c42f2f;
}      
 
.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
} 



@media screen and (max-width: 500px) {
    .cf:before, .cf:after{
        content:"";
        display:table;
    }
     
    .cf:after{
        clear:both;
    }
     
    .cf{
        zoom:1;
    } 
    /* Form wrapper styling */
    .form-wrapper {
        width: 200px;
        border-radius: 10px;
    }
     
    /* Form text input */
     
    .form-wrapper input {
        position: static;
        margin-top: 19%;
        width: 200px;
        height: 20px;    
        font-family:monospace;
        border: 0;
        background: white;
        border-radius: 3px 0 0 3px;      
    }
     
    .form-wrapper input:focus {
        outline: 0;
        background: white;
        box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    }
     
    .form-wrapper input::-webkit-input-placeholder {
       color: #999;
       font-weight: normal;
       font-style: italic;
    }
     
    .form-wrapper input:-moz-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }
     
    .form-wrapper input:-ms-input-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    } 

    .form-wrapper button {
        
        font: bold 15px monospace;
        font-size:0;
        background:transparent;     
        
    }   
       
    .form-wrapper button:hover{     
        background: transparent;
    }   
       
    .form-wrapper button:active,
    .form-wrapper button:focus{   
        background: #1F40E7;
        outline: 0;   
    }


     
    .form-wrapper button:hover:before{
        border-right-color: #e54040;
    }
     
    .form-wrapper button:focus:before,
    .form-wrapper button:active:before{
            border-right-color: #c42f2f;
    }      
     
    .form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
        border: 0;
        padding: 0;
    } 

}

@media screen and (min-width: 501px) and (max-width: 1000px) {

    .cf:before, .cf:after{
        content:"";
        display:table;
    }
     
    .cf:after{
        clear:both;
    }
     
    .cf{
        zoom:1;
    } 


    /* Form wrapper styling */
    .form-wrapper {
        width: 450px;
        padding: 0;
        border-radius: 10px;
    }
     
    /* Form text input */
     
    .form-wrapper input {
        width: 330px;
        height: 20px;
        padding: 10px 5px;
        float: left;
        margin-top: 43px;    
        font-family:monospace;
        border: 0;
        background: white;
        border-radius: 3px 0 0 3px;      
    }
     
    .form-wrapper input:focus {
        outline: 0;
        background: white;
        box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    }
     
    .form-wrapper input::-webkit-input-placeholder {
       color: #999;
       font-weight: normal;
       font-style: italic;
    }
     
    .form-wrapper input:-moz-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }
     
    .form-wrapper input:-ms-input-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    } 

    .form-wrapper button {
        overflow: visible;
        float: right;
        border: 0;
        margin-top: 43px;
        position: relative;
        padding: 0;
        height: 40px;
        width: 110px;
        font: bold 15px monospace;
        color: #fff;
        background: #1F40E7;
        border-radius: 0 4px 4px 0;      
        
    }   
       
    .form-wrapper button:hover{     
        background: #1F40E7;
    }   
       
    .form-wrapper button:active,
    .form-wrapper button:focus{   
        background: #1F40E7;
        outline: 0;   
    }


     
    .form-wrapper button:hover:before{
        border-right-color: #e54040;
    }
     
    .form-wrapper button:focus:before,
    .form-wrapper button:active:before{
            border-right-color: #c42f2f;
    }      
     
    .form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
        border: 0;
        padding: 0;
    } 

}
