.contact-us-details{
    margin: 30px 0;

}

.contact-us-details ul{
    display: flex;

    margin: auto;
    width: 74%;
    font-size: 16px;
}

.contact-us-details ul li{
    list-style-type: none;

    margin: 0 10px;
}

.contact-us-details ul li table{

}

.contact-us-details ul li table tr{

}

.contact-us-details ul li table tr td{
    padding: 2px 10px;
	
}

.extra-pages {
font-size: 15px;
font-family: sans-serif;
margin: 5px 0;
}

li.extra-pages {
font-size: 14px;
ont-family: 'Merriweather', serif;
}

ul.extra-page{
font-size: 16px !important;
font-family: 'Merriweather', serif;
line-height: 1.5;
padding-left: 60px;
}

ul.extra-page p{
font-size: 14px !important;
font-family: 'Merriweather', serif;
line-height: 1.5;
}
.extra-page {
font-size: 14px !important;
font-family: 'Merriweather', serif;
line-height: 1.5;
}

#shelf{
	background: rgba(56,61,71,0.7);
	width: 30px;
	position: fixed;
	padding: 10px;
	top: 150px;
	left: 0;
	z-index: 2;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
	border-radius: 0 10px 10px 0;
}

.drop-down-college{
	width:20px;
	height:20px;
	position: relative;
	top: 5px;
}



div#page-body{
	width: 73%;
	margin-left: 70px;
	margin-top: 0;
}

.right-sidebar{
left: none;
margin-left: 30px !important;
background: none;
-webkit-box-shadow: none;
box-shadow: none;
width: 17% !important;  
float: right;
left: none !important;
box-sizing: border-box;
padding-left: 0px;
padding-right: 15px;
z-index: 0;
margin-top: 0;
}

.book-grid-main{
	width:100%;
	color: #666;
	height: 17px;
}



td.book-name1 a{
	font-size: 15px !important;
	font-family: 'Roboto Slab',sans-serif;
	font-weight: 600;
	text-decoration: underline;
	max-height: 38px;
	overflow: hidden;
}

.grid figcaption a.button{
	color: white !important;
	text-decoration: none !important;
}

.single-book-add-to-cart{
	height: 100px;
	width: 100px;
	position: relative;
	top: 70px;
	right: 60px;
}

div.add-to-cart-text {
color: white;
font-size: 14px;
width: 133%;
position: relative;
top: 80px;
right: 50px;
}

table.single-book tr td {
	padding-bottom: 5px;
	font-size: 17px;
	color: black;
}

td.bookname {
text-decoration: underline;
font-size: 22px !important;
}

.single-book-anchor{
	color: rgb(71, 71, 182);
}

.single-book-anchor:hover{
	color: rgb(42, 42, 209);
}

.cart-icon{
	font-size: 20px !important;
	color: white !important;
	padding: 2px 10px;
}

button.add-to-cart-button{
	background: #ed4e6e;
	border: none;
	font-size: 16px;
	color:white;
	border-radius: 7px;
	margin-top: -4px;
	cursor: pointer;
	padding: 5px;
	width: 150px;
}

button.add-to-cart-button:hover {
background: #CE3050;
}

a.cartbutton.cartbutton-primary {
position: relative;
top: -10px;
}

/*form#new_user {
margin-left: auto;
margin-right: auto;
width: 67%;
}

div.sign-in-form-devise {
margin-left: auto;
margin-right: auto;
width: 40%;
}

.sign-in-form-table{
	padding: 5px 0;
}*/

form#new_book_group {
margin: auto;
width: 65%;
}

div.book-sell-form-wrap {
margin: auto;
width: 40%;
}

form#new_book_group table tr td{
	padding: 5px 0;
}

form#new_book_group table tr td input{
}

div.book-sell-form-wrap p.title{
	font-size: 20px;
	color:grey;
}


/*Header CSS*/



ul.inline-popups {
}

ul.header-list li{
	display: inline;
}

/*Book Grid*/
.grid-add-to-cart{
	color: white !important;
text-decoration: none !important;
}

/*Shopping Cart*/

div.checkoutbtn p a.button{
	margin: 0 10px;
}

div.checkoutbtn{
float: right;
padding: 15px 0;
}





/*Fixed Footer*/
.fixed-footer {
position: fixed;
bottom: 0;
width: 100%;
padding: 0;
margin: 0;
height: 60px;
display: none;
left: 0;
display: none !important;
}

.form-wrapper-footer {
width: 450px;
padding: 0;
border-radius: 10px;
top: 10px;
position: absolute;
}

.footer-icons{
	position: relative;
width: 19%;
top: -40px;
left: 700px;
padding-top: 5px;
}

/*Shelf*/
.global-nav a{
	margin-bottom: 6px !important;
}

li.divfloat:hover {
box-shadow: 0 0 5px rgb(170, 38, 88) inset;
cursor: pointer;
}

.fa-padding{
	padding: 0 5px;
}




.go-button{
	background: none !important;
border: none !important;
color: white !important;
font-size: 20px !important;
padding-top: 5px !important;
}

div.button.btn-black {
margin-bottom: 20px;
}

p.titlebox {
font-size: 21px;
color: white;
text-decoration: underline;
padding: 6px 0;
font-weight: 600;
font-family: 'Roboto Slab',sans-serif;
}

.fa-color_black{
	color: rgb(114, 114, 114) !important
}

.video-entry{
	width: 100%;
	background: url('/assets/mainfull.png');
	margin-top: 0;
	background-size: 100% 100%;
	height: 488px;
}

div.video-player{
	/* background: url('/assets/background-main.jpg'); */
}

.title-details{
background: rgb(145, 145, 145);
padding: 0 0 10px 30px;
border-radius: 5px 5px 0 0;
word-wrap: break-word;
}

td.edition {
font-size: 20px;
margin-top: 1%;
margin-left: 30px;
margin-right: 10px;
float: left;
/* min-width: 190px; */
padding: 0% 2% 2% 2%;
width: 150px;
}

td.mobile {
font-size: 20px;
margin-top: 1%;
margin-left: 30px;
margin-right: 10px;
float: left;
/* min-width: 190px; */
padding: 0% 2% 2% 2%;
width: 170px;
}

td.price {
font-size: 20px;
margin-top: 1%;
margin-left: 30px;
margin-right: 10px;
float: left;
/* min-width: 190px; */
padding: 0% 2% 2% 2%;
width: 136px;
}


td.checkout-td {
border: 1px solid rgb(185, 185, 185);
height: 100px;
}

td#checkout-title{
    width: 350px;

    vertical-align: middle;
}

td#checkout-price{
    width: 100px;

    text-align: center;
    color: black;
    padding-top: 20px;
}

td#checkout-seller{
    color: black;

    width: 200px;
    text-align: center;
}

td#checkout-status{
    text-align: center;
}

span#checkout-book-name {
color: black;
font-size: 16px;
text-decoration: underline;
padding: 0 10px;
position: relative;
top: 10px;
}

img.checkout-mainimg {
width: 50px;
padding: 0px;
float: left;
border: 5px solid rgb(233, 233, 233);
margin: 10px;
}

th.checkout-th {
padding: 10px;
color: black;
font-weight: bold;
}

.cross{
	text-align: center;
vertical-align: middle;
color: red;
}

.your-order {
text-align: center;
padding: 20px;
}

.seller-message {
margin-left: 150px;
margin-top: 20px;
color: black;
}

.tick{
	text-align: center;
vertical-align: middle;
color: green;
}

i.fa-chevron-circle-up.fa{
	font-size: 50px;
color: rgb(92, 92, 92);
}

/*Back To Top*/
i.fa-chevron-circle-up.fa:hover{
color: black;
}

 #back-top {
  position: fixed;
  bottom: 30px;
  right:0;
}

#back-top a {
  width: 108px;
  display: block;
  text-align: center;
  font: 11px/100% Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #bbb;

  /* transition */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
#back-top a:hover {
  color: #000;
}

/* arrow icon (span tag) */
#back-top span {
  width: 108px;
  height: 108px;
  display: block;
  margin-bottom: 7px;
  background: #ddd url(up-arrow.png) no-repeat center center;

  /* rounded corners */
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;

  /* transition */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
#back-top a:hover span {
  background-color: #777;
}

/*Sold Button Disabled*/
button#sold:disabled {
color: white;
background: rgba(48, 148, 139,0.5) !important;
text-align: left;
padding-left: 17px;
cursor: default;
cursor: default;
}

.table-header{
	background: #F3EEEE;

	color: rgb(119, 113, 113);
	font-weight: bold;
}

.table-header th{
	padding: 10px;
}

.cart-title{
    padding: 10px;	
}

.cart-table tr td{
    padding: 10px;
	
}

.cart-remove-icon{
	float: right;
padding-top: 5px;
}

.extra_options {
	text-align: center;
}

.extra_options .fb_login {
	width: 200px !important;
}

.extra_options .gmail_login {
	width: 210px !important;
	margin:-10px 0 -5px 15px;
	height:56px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 640px) { 
.video-entry{
    display: none;
}

.popup_cont {
	width: 90% !important;
	left: 0% !important;
}

.extra_options .fb_login {
	width: 100px !important;
	height: 30px;
}

.extra_options .gmail_login {
	width: 105px !important;
	margin:-5px 0 0 7px;
	height:30px;
}

#page-body{
	margin-left: 12% !important;
}

.listofsellers .listelement {
	border: 1px gray solid;
}

.listofsellers .listtitle {
	text-align: center;
}

.book .details{
	text-align: center;
}

.book .bookattr {
	margin-left: 14%;
}

.listtitle {
	text-align: center;
	border: 1px gray solid;
}
}
