@import url(http://fonts.googleapis.com/css?family=Raleway|Open+Sans);
.caption p
{
    font-size:11px;
}
.modal-dialog
{
    width:400px;
}
.teamMemberImage
{
  width:100%;
}
.teamMemberLinks > *
{
  margin:20px;
}
.book-bg
{
    background-image: url('open-book.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
}
.carousel-slide
{
    text-align: center;
    width:100%;
    height:500px;
}
.clickable
{
    cursor:pointer;
}
.coupon-img
{
    margin-right: 50px;
}
body
{
    /*margin-top:100px;*/
    background-color: #EEC55C;
    background-repeat: repeat;
    font-family: "Raleway";
}
.navbar-brand,
.navbar-nav > li > a{
    line-height: 75px;
    height: 75px;
    padding-top: 0;
}
.navbar-form
{
    margin-top: 20px;
}
#page
{
    margin-top:65px;
}
footer
{
    margin-top:30px;
    margin-bottom:0px;
    background-color:#fff;
    padding:40px;
    text-align: center;
}
.footer-left
{
    text-align: left;
}
.number
{
    font-family: "Open Sans",sans-serif;
}
.footer-right
{
    text-align: right;
}
.center
{
    text-align: center;
}
.social-icon
{
    cursor: pointer;
    margin-right:30px;
}
.sellers td,th
{
    text-align:center;
    vertical-align:middle !important;
}
.step
{
    display: inline-block;
    position: relative;
    float:left;
}
.complete > .step-bar
{
    background-color: #5cb85c;
}
.complete > .step-circle
{
    background-color: #5cb85c;
    color:#fff;
}
.step-text
{
    margin-bottom: -22px;
    margin-left: 55px;
    font-weight: bold;
}
.step-bar
{
    display:inline-block;
    position:absolute;
    margin-top:22px;
    margin-bottom:22px;
    margin-left:45px;
    width:100%;
    padding:0px;
    height:6px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    background-color: #fff;
    z-index:0;
}
.step-circle
{
    display:inline-block;
    width: 50px;
    z-index:10;
    height: 50px;
    background: #fff;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    line-height: 50px;
    text-align: center;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 120%;
}

/* for back top arrow */ 

#back-top {
  position: fixed !important;
  bottom: 30px !important;
  right:0 !important;
}

#back-top a {
  width: 108px !important;
  display: block !important;
  text-align: center !important;
  font: 11px/100% Arial, Helvetica, sans-serif !important;
  text-transform: uppercase !important;
  text-decoration: none !important;
  color: #F2F2F2 !important;
  font-size: 30px !important;
  /* transition */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
#back-top a:hover {
  color: #000;
}

/* arrow icon (span tag) */
#back-top span {
  width: 108px;
  height: 108px;
  display: block;
  margin-bottom: 7px;
  background: #ddd url(up-arrow.png) no-repeat center center;

  /* rounded corners */
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;

  /* transition */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
#back-top a:hover span {
  background-color: #777;
}


/* for coupon bar on selecting coupons page*/
#sel_coupon_wrapper{
  /*
  position: relative;
  top: 15px;*/
}

#sel_coupon_wrapper
{
  /*
  height: 34px;
  overflow: hidden;
  border: 1px gray solid;
  border-radius: 10px;
  left-margin: -250px;
  float: left;
  box-shadow: 2px 2px 1px #888888;
  background: white;

  width: 30%;
  */
}

.coupon_thumb
{
  /*box-shadow: 0px 0px 2px #888888;*/
  /*border-radius: 10%;*/
  height: 64px;/*32*/
  width: 64px;/*32*/
  margin-top: 3px;
  margin-left: 10px;
  float: left;
}

#remove-coupon
{
  min-height: 12px;
  max-height: 13px;
  max-width: 12px;
  position: relative;
  background:#0080FF;
  top: 10px;
  right: -22px;
  border-radius: 50%;
  color:#ffffff;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: white;
  margin-top: -12px;
}

/* for blog post text area */
.blogtext
{
  background-color: #000 !important;  
}


/* for coupon image */
.set-image {
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
  padding: 0;
}


/* For Feedback */
#zenbox_tab {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  cursor: pointer;
  overflow: hidden;
  position: fixed;
  top: 50%;
  height: 25px;
  min-width: 40px;
  z-index: 10000;
  white-space: nowrap;
  padding: 20px 10px 35px 10px;
}

#zenbox_tab #feedback_tab_text {
  font-size: 1.1em;
  font-weight: bold;
  margin: auto;
  color: #fff;
}

#zenbox_tab.ZenboxTabLeft {
  left: 0px;
  background-position: right 0;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg  );
}

#zenbox_tab.ZenboxTabRight {
  right: 0px;
  background-position: left 0;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg  );
}


