<div class="container_4">
    <div class="innertitle">
        <p>Your WishList</p>
    </div>
    <div class="no-touch">
      <ul class="grid cs-style-3">
      <% @my_wishes.each do |book| %>
        <li class="divfloat">
          <figure>
            <div class="img-book">
              <%= image_tag book.image.url %>
            </div>
            <figcaption>
            <table class="book-grid">
                <tr>
                  <td class="book-name1">
                    <center><%=book.title%></center>
                  </td>
                </tr>
                <tr>
                  <td class="book-author">
                    <%=book.author%>
                  </td>
                </tr>
                <tr class="link-style">
                  <td>
                    <center>
                      <%= link_to "Details", book_detail_path(book) %>
                    </center>
                  </td>
                </tr>
                <tr>
                  <td>
                    7 Reviews
                  </td>
                </tr>
              </table>
            </figcaption>
          </figure>
        </li>
        <% end %>
        </ul>
    </div>
</div>