<div class="container" style="margin-bottom:100px;">
	<div class="row" style="height:400px">
  <div class="col-md-8"></div>
  <div class="col-md-4">
    <div class="panel">
      <div class="panel-heading"><h3>Your Earnings</h3></div>
      <div class="panel-body">
        <h1 class="number">
          <small>Rs.</small> 60 
          <span class="pull-right">
          <a href="#">
          <button class="btn btn-info">Recharge Mobile</button>
          </a>
        </span>
        </h1>
    </div>
    </div>
    <div class="panel">
      <div class="panel-heading"><h3>Share &amp; Earn</h3></div>
      <div class="panel-body">
        <p>Share the following link with your friends, and get free recharges when someone signs up!</p>
        <input type="text" value="http://thecollegestore.in/user/referral" class="form-control">
        <br>
        <center>
        <a href="http://facebook.com">
          <i class="fa fa-facebook-square fa-3x"></i>
        </a>
        <a href="http://twitter.com">
          <i class="fa fa-twitter-square fa-3x"></i>
        </a>
        <a href="#" onclick="$('invite-email-modal').show()">
          <i class="fa fa-envelope-square fa-3x"></i>
        </a>
        </center>
    </div>
    </div>
  </div>
</div>

</div>